html {
background-color:#495A74;
}
body {
background-color:#fff;
color:#333;
font-family:Georgia, "Times New Roman", Times, serif;
width:96em;
margin:2em auto 6em;
padding:0.5em 5em 2em;
-moz-border-radius:1.5em;
-webkit-border-radius:1.5em;
}
a {
color:#779069;
text-decoration:none;
}
a:hover {
text-decoration:underline;
color:#F6B519;
}
h1 {
font-size:3em;
margin:1em 0;
font-weight:bolder;
color:#A22C3A;
text-align:center;
}
#home h1 {
font-size:3.25em;
}
h2 {
font-size:2.5em;
margin:0.75em 0;
color:#E28741;
}
h2.author {
margin-top:-1em;
font-style:italic;
text-align:center;
letter-spacing:0.05em;
font-size:2.4em;
}
h2.author a {
color:#F6B519;
}
h2.author a:hover {
color:#A22C3A;
}
h2.author .twitter {
font-size:0.625em;
}
h2.author .twitter a {

}
p,
ul,
ol,
table {
margin-bottom:1.5em;
}
p,
li {
font-size:1.8em;
line-height:150%;
} 
ol,
ul {
padding-left:1.5em;
}
ol li {
list-style-type:decimal;
margin-bottom:0.3em;
}
ul li {
list-style:circle;
margin-bottom:0.3em;
}
abbr {
border-bottom:0.1em dotted #333;
cursor:help;
}
.source {
font-size:2em;
font-style:italic;
}
pre {
font-size:1.5em;
line-height:160%;
font-family:"Lucida Console", Monaco, monospace;
margin-bottom:1.6em;
border:0.2em dashed #F6B519;
padding:1.5em 2.5em;
width:40em;
}
em.code {
font-family:"Lucida Console", Monaco, monospace;
font-style:normal;
}
q {
font-size:1.8em;
line-height:140%;
}
cite {
display:block;
font-style:italic;
padding-top:0.3em;
}
cite#boulton {
text-align:right;
}
#float-example {
background-color:#779069;
width:50em;
padding:0.6em 1em
}
#float-example div {
border:1px solid #000;
padding:1em 1.5em;
}
#float-example .left {
float:left;
width:40%;
}
#float-example .right {
float:right;
width:45%;
text-align:right;
}
.good {
overflow:auto;
height:100%;
}
.calendar {
background-color:#ddd;
border:0.2em solid #333;
font-family:Arial,Helvetica,sans-serif;
overflow:auto;
padding:0 0 0 2.5em;
width:90em;
}
.calendar li {
background-color:#FFFFFF;
border:0.1em solid #999999;
float:left;
font-size:1.1em;
font-weight:bold;
height:7em;
list-style-position:inside;
list-style-type:decimal-leading-zero;
margin-bottom:0;
padding:0.5em;
width:10.2em;
}
.calendar .tuesday {
margin-left:22.74em;
}
table {
font-family:Helvetica, Arial, sans-serif;
width:100%;
}
table td,
table th {
font-size:1.5em;
padding:0.8em 0.5em 0.4em;
border-bottom: 0.1em solid #ccc;
vertical-align:bottom;
}
table th {
font-weight:bold;
}
#home #topics {
float:left;
width:33em;
}
#about {
float:left;
width:63em;
}
#about img {
border:0.2em dashed #F6B519;
float:right;
margin:2em 0 2em 6em;
padding:1.5em;
}
#home p#intro {
font-size:2.2em;
text-align:center;
}
#disclaimer {
clear:both;
font-size:1em;
color:#eee;
}